<form 
    class="dropdown_form_container"
    [formGroup]="formGroup"
    (ngSubmit)="ngSubmit()">
    <label for="Password">Password</label>
    <input 
        type="password" 
        id="Password" 
        formControlName="password" 
        class="form-control" 
        (keypress)="changeField.emit({
            componentForm: this,
        })"
        (keypress.enter)="ngSubmit()"/>

    <label for="ConfirmPassword">Confirm password</label>
    <input 
        type="password" 
        id="ConfirmPassword" 
        formControlName="confirmPassword" 
        class="form-control" 
        (keypress)="changeField.emit({
            componentForm: this,
        })"
        (keypress.enter)="ngSubmit()"/>
</form>