<form 
    class="dropdown_form_container"
    [formGroup]="formGroup"
    (ngSubmit)="ngSubmit()">
    <label for="Password">Password</label>
    <input 
        type="password" 
        id="Password" 
        formControlName="password" 
        class="form-control" 
        (keypress)="changeField.emit({
            componentForm: this,
        })"
        (keypress.enter)="ngSubmit()"/>

    <label for="ConfirmPassword">Confirm password</label>
    <input 
        type="password" 
        id="ConfirmPassword" 
        formControlName="confirmPassword" 
        class="form-control" 
        (keypress)="changeField.emit({
            componentForm: this,
        })"
        (keypress.enter)="ngSubmit()"/>
</form>

<div class="main-content right">
    <div class="container-content">
      <div class="content">
        <p class="capitalised" i18n>
          Haliro, L’assistant IA ESG le plus complet
        </p>

        <div class="content-description-container">
          <div class="content-container">
            <div class="content-description">
              <div class="description">
                <h1 i18n>
                  Naviguez facilement dans l'univers des régulations ESG avec
                  Haliro
                </h1>
              </div>
            </div>
          </div>

          <div class="icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="106"
              height="101"
              viewBox="0 0 106 101"
              fill="none"
            >
              <rect
                x="75.6638"
                y="75.1497"
                width="15.1679"
                height="15.1679"
                rx="7.58396"
                fill="url(#paint0_linear_1189_2695)"
              />
              <rect
                x="22.8237"
                y="78.0801"
                width="15.1679"
                height="15.1679"
                rx="7.58396"
                fill="url(#paint1_linear_1189_2695)"
              />
              <rect
                x="80.5486"
                y="33.1934"
                width="25.4513"
                height="25.4513"
                rx="12.7256"
                fill="url(#paint2_linear_1189_2695)"
              />
              <rect
                x="0.852417"
                y="33.1934"
                width="25.4513"
                height="25.4513"
                rx="12.7256"
                fill="url(#paint3_linear_1189_2695)"
              />
              <ellipse
                cx="57.9994"
                cy="82.8866"
                rx="18.1179"
                ry="18.0209"
                fill="url(#paint4_linear_1189_2695)"
              />
              <path
                d="M53.1296 0.907715C28.7869 0.907715 9.05603 20.4945 9.05603 44.6594C9.05603 47.6611 9.36031 50.5874 9.94035 53.4098C11.69 61.9902 15.9785 69.6644 21.9786 75.6207C29.9565 83.5309 40.9678 88.4206 53.1296 88.4206C64.4071 88.4206 74.6957 84.2106 82.4929 77.2915C88.8448 71.6561 93.5327 64.2179 95.7578 55.7885C96.6992 52.2393 97.2031 48.5107 97.2031 44.6594C97.2031 20.4945 77.4723 0.907715 53.1296 0.907715Z"
                fill="url(#paint5_linear_1189_2695)"
              />
              <g filter="url(#filter0_d_1189_2695)">
                <ellipse
                  cx="47.9266"
                  cy="46.3655"
                  rx="34.5956"
                  ry="34.4104"
                  fill="#6A21DF"
                />
                <path
                  d="M81.5656 46.3655C81.5656 64.8366 66.5098 79.8192 47.9266 79.8192C29.3435 79.8192 14.2877 64.8366 14.2877 46.3655C14.2877 27.8943 29.3435 12.9117 47.9266 12.9117C66.5098 12.9117 81.5656 27.8943 81.5656 46.3655Z"
                  stroke="white"
                  stroke-width="1.91331"
                />
              </g>
              <g filter="url(#filter1_d_1189_2695)">
                <rect
                  x="51.77"
                  y="51.4536"
                  width="8.47374"
                  height="3.76611"
                  transform="rotate(-90 51.77 51.4536)"
                  fill="white"
                />
                <rect
                  x="26.8191"
                  y="51.4536"
                  width="8.47374"
                  height="3.76611"
                  transform="rotate(-90 26.8191 51.4536)"
                  fill="white"
                />
                <rect
                  x="55.5354"
                  y="42.9795"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 55.5354 42.9795)"
                  fill="white"
                />
                <rect
                  x="55.5354"
                  y="59.4565"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 55.5354 59.4565)"
                  fill="white"
                />
                <rect
                  x="30.5847"
                  y="42.9795"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 30.5847 42.9795)"
                  fill="white"
                />
                <rect
                  x="30.5847"
                  y="59.4565"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 30.5847 59.4565)"
                  fill="white"
                />
                <rect
                  x="55.5354"
                  y="46.7456"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 55.5354 46.7456)"
                  fill="white"
                />
                <rect
                  x="34.3515"
                  y="63.2222"
                  width="3.76611"
                  height="21.1843"
                  transform="rotate(-90 34.3515 63.2222)"
                  fill="white"
                />
                <rect
                  x="30.5847"
                  y="46.7456"
                  width="3.76611"
                  height="3.76611"
                  transform="rotate(-90 30.5847 46.7456)"
                  fill="white"
                />
                <rect
                  x="59.3019"
                  y="51.4536"
                  width="8.47374"
                  height="3.76611"
                  transform="rotate(-90 59.3019 51.4536)"
                  fill="white"
                />
                <rect
                  x="34.3515"
                  y="51.4536"
                  width="8.47374"
                  height="3.76611"
                  transform="rotate(-90 34.3515 51.4536)"
                  fill="white"
                />
              </g>
              <defs>
                <filter
                  id="filter0_d_1189_2695"
                  x="12.8421"
                  y="11.9551"
                  width="70.1692"
                  height="69.7988"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="0.488998" />
                  <feGaussianBlur stdDeviation="0.244499" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_1189_2695"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_1189_2695"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter1_d_1189_2695"
                  x="22.9071"
                  y="35.3014"
                  width="44.0729"
                  height="31.8327"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset />
                  <feGaussianBlur stdDeviation="1.95599" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_1189_2695"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_1189_2695"
                    result="shape"
                  />
                </filter>
                <linearGradient
                  id="paint0_linear_1189_2695"
                  x1="75.6638"
                  y1="91.7553"
                  x2="90.3824"
                  y2="91.0485"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_1189_2695"
                  x1="22.8237"
                  y1="94.6857"
                  x2="37.5424"
                  y2="93.9789"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_1189_2695"
                  x1="80.5486"
                  y1="61.0571"
                  x2="105.246"
                  y2="59.871"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_1189_2695"
                  x1="0.852417"
                  y1="61.0571"
                  x2="25.5498"
                  y2="59.871"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
                <linearGradient
                  id="paint4_linear_1189_2695"
                  x1="39.8815"
                  y1="104.324"
                  x2="75.0431"
                  y2="102.626"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
                <linearGradient
                  id="paint5_linear_1189_2695"
                  x1="9.05603"
                  y1="96.7156"
                  x2="94.5893"
                  y2="92.5783"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#AF7DFF" />
                  <stop offset="1" stop-color="#6A21DF" />
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>