
<!-- https://tailwindui.com/components/application-ui/forms/sign-in-forms -->
<div class="signin_container auth_container">
    <img src="/assets/img/logo.svg" alt="">
    <h1>
        Forget password
    </h1>
    <form 
        [formGroup]="formGroup" 
        (ngSubmit)="submit()">
        <label for="email">Email address</label>
        <input 
            type="email" 
            id="email" 
            formControlName="email" 
            placeholder="Email address" 
            required>

        <input type="submit" value="Sign in" class="bg_central_button_gradient">
        
        <span>
            Not a member? <a (click)="switchModalService.open_modal('signup')">Start a 14 day free trial</a>
        </span>
    </form>
</div>