<form 
    class="dropdown_form_container"
    [formGroup]="formGroup"
    (ngSubmit)="ngSubmit()">
    <label for="Username">Username</label>
    <input 
        type="text" 
        id="Username" 
        formControlName="username" 
        class="form-control" 
        placeholder="username"
        (keypress)="changeField.emit({
            componentForm: this,
        })"/>

    <label for="Email">Email</label>
    <input 
        type="text" 
        id="Email" 
        formControlName="email" 
        class="form-control" 
        placeholder="email"
        (keypress)="changeField.emit({
            componentForm: this,
        })"/>
        
</form>